.grid_container {
	align-items: center;
	display: flex;
	height: 100%;
	row-gap: 0.168rem;
}

.grid_item {
	display: flex;
	align-items: center;
	gap: var(--nextui-space-4);
}

.data_card__label {
	color: var(--nextui-colors-primary);
	font-weight: var(--nextui-fontWeights-bold);
	letter-spacing: var(--nextui-letterSpacings-tight);
}

.data_card__value {
	display: flex;
	align-items: center;
}

.data_card__value abbr {
	text-decoration: dotted underline 1px;
	text-decoration-skip-ink: none;
}

.data_card__value:has(span) {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
