.card {
	padding: 0;
}

.card_body {
	justify-content: center;
	padding: var(--nextui-space-1);
	padding-top: var(--nextui-space-7);
}

.card_footer {
	justify-content: space-between;
}

.card_footer__name {
	font-weight: bold;
	letter-spacing: var(--nextui-letterSpacings-normal);
}
