.table_container {
	border-radius: var(--nextui-radii-xl);
	border: solid var(--nextui-colors-border);
	box-shadow: var(--nextui-shadows-md);
	display: flex;
	flex-direction: column;
	overflow: auto hidden;
}

.table {
	--nextui--tableRowColor: var(--nextui-colors-primaryLight);
	--nextui--tableRowTextColor: var(--nextui-colors-primaryLightContrast);
	--nextui--tableLineWeight: var(--nextui-borderWeights-light);

	border-collapse: separate;
	border-spacing: 0px;
	height: auto;
	min-width: 100%;
	padding: var(--nextui-space-md) var(--nextui-space-xs);
	width: 100%;
}

.table_head__row {
	overflow: visible;
}

.table_head__column {
	background: var(--nextui-colors-accents0);
	color: var(--nextui-colors-accents7);
	cursor: default;
	font-size: var(--nextui-fontSizes-xs);
	height: var(--nextui-space-12);
	outline: none;
	position: relative;
	text-align: left;
}

.table_head__column:first-child {
	border-radius: var(--nextui-radii-sm) 0 0 var(--nextui-radii-sm);
	padding-left: var(--nextui-space-8);
}

.table_head__column:last-child {
	border-radius: 0 var(--nextui-radii-sm) var(--nextui-radii-sm) 0;
	padding-right: var(--nextui-space-8);
}

.table_body {
	position: relative;
}

.table_body__row {
	color: var(--nextui-colors-text);
	position: relative;
	outline: none;
	overflow: visible;
}

.table_body__column {
	cursor: text;
	overflow: hidden;
	padding-bottom: var(--nextui-space-1);
	padding-top: var(--nextui-space-1);
	padding-right: var(--nextui-space-5);
	position: relative;
	text-overflow: ellipsis;
	user-select: text;
	white-space: nowrap;
	z-index: var(--nextui-zIndices-2);
}

.table_body__column:first-child {
	padding-left: var(--nextui-space-8);
}

.table_body__column:last-child {
	padding-right: var(--nextui-space-8);
}

.table_body__column::before {
	backface-visibility: hidden;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transform: translateZ(0);
	width: 100%;
	z-index: calc(var(--nextui-zIndices-1) * -1);
}

.table_body__column::after {
	background: var(--nextui-colors-border);
	bottom: 0;
	content: "";
	height: var(--nextui--tableLineWeight);
	left: 0;
	position: absolute;
	right: 0;
}

.table_body__column:first-child::after {
	left: var(--nextui-space-md);
}

.table_body__column:last-child::after {
	right: var(--nextui-space-md);
}

.table_body__row:last-child .table_body__column::after {
	content: none;
}
