.type {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 2em;
	color: #fff;
	text-shadow: 1px 1px 1px #333;
	width: 5em;
	border: 1px solid #000;
	border-radius: 5px;
	box-sizing: border-box;
	letter-spacing: var(--nextui-letterSpacings-normal);
	line-height: var(--nextui-lineHeights-base);
}

.Acero {
	background: linear-gradient(#b8b8d0, #9797ba);
	border-color: #7a7aa7;
}

.Agua {
	background: linear-gradient(#6890f0, #386ceb);
	border-color: #1753e3;
}

.Bicho {
	background: linear-gradient(#a8b820, #8d9a1b);
	border-color: #616b13;
}

.Dragón {
	background: linear-gradient(#7038f8, #4c08ef);
	border-color: #3d07c0;
}

.Eléctrico {
	background: linear-gradient(#f8d030, #f0c108);
	border-color: #c19b07;
}

.Fantasma {
	background: linear-gradient(#705898, #554374);
	border-color: #413359;
}

.Fuego {
	background: linear-gradient(#f08030, #dd6610);
	border-color: #b4530d;
}

.Hada {
	background: linear-gradient(#f98cff, #f540ff);
	border-color: #c1079b;
}

.Hielo {
	background: linear-gradient(#98d8d8, #69c6c6);
	border-color: #45b6b6;
}

.Lucha {
	background: linear-gradient(#c03028, #9d2721);
	border-color: #82211b;
}

.Normal {
	background: linear-gradient(#a8a878, #8a8a59);
	border-color: #79794e;
}

.Planta {
	background: linear-gradient(#78c850, #5ca935);
	border-color: #4a892b;
}

.Psíquico {
	background: linear-gradient(#f85888, #f61c5d);
	border-color: #d60945;
}

.Roca {
	background: linear-gradient(#b8a038, #93802d);
	border-color: #746523;
}

.Siniestro {
	background: linear-gradient(#705848, #513f34);
	border-color: #362a23;
}

.Tierra {
	background: linear-gradient(#e0c068, #d4a82f);
	border-color: #aa8623;
}

.Veneno {
	background: linear-gradient(#a040a0, #803380);
	border-color: #662966;
}

.Volador {
	background: linear-gradient(#a890f0, #9180c4);
	border-color: #7762b6;
}
