.container {
	align-items: center;
	background-color: var(--background-navbar);
	display: flex;
	flex-direction: row;
	height: 70px;
	justify-content: space-between;
	padding: 0 var(--nextui-space-15);
	position: relative;
	width: 100%;
	z-index: var(--nextui-zIndices-1);
}

.title {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: var(--nextui-space-2);
}

.title h2 {
	font-size: var(--nextui-fontSizes-3xl);
	margin: 0;
}

.title h2 > span {
	font-size: var(--nextui-fontSizes-4xl);
}
