:root {
	--background: var(--nextui-colors-black);
	--background-card: var(--nextui-colors-gray900);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--nextui-colors-black);
		--background-card: var(--nextui-colors-backgroundContrast);
		--background-navbar: var(--nextui-colors-backgroundContrast);
	}
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
